.task-container {
  background-color: #282d39;
  border-radius: 5px;
  min-height: 500px !important;
  width: 50% !important;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px -1px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
}
input[type="checkbox"]:checked + span.strikethrough {
  text-decoration: line-through;
  width: 100%;
}
[type="checkbox"] + span:not(.lever) {
  width: 100%;
}

.task-row {
  justify-content: space-between !important;
  padding: 9px 20px !important;
}
button,
input,
optgroup,
select,
textarea {
  background: transparent !important;
}

.save-task-edit {
  border: none;
}

.task-header {
  padding: 15px !important;
}
input {
  width: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .task-container {
    width: 100% !important;
  }

  [type="checkbox"] + span:not(.lever) {
    width: 100%;
  }
}
