.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

input {
  width: 100%;
}
.full-name {
  display: flex;
}

.full-name {
  display: flex;
  /* justify-content: space-between; */
}
