.project-details-content {
  background-color: #282d39;
  border-radius: 5px;
  padding: 20px;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.option-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #66c8d4;
  font-size: 20px;
}

.project-header h3 {
  margin-top: 0;
}

/* .option-switch p:last-child {
  margin-left: 20px;
} */

.project-details-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: #fff;
  font-size: 20px;
  padding: 0 25px 0 0;
}

.project-details-text p {
  word-break: break-all;
  margin-top: 5px;
}

.project-header select {
  width: 30%;
}
.project-details {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

/* .project-images img {
  width: 100%;
  object-fit: contain;
  height: 300px;
  border-radius: 5px;
} */

.project-details-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.project-images {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px -1px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  /* margin-top: 20px; */
}

.exit-details button {
  background: transparent;
  border: none;
}

.exit-details i {
  font-size: 30px;
  color: #ce4ad8;
  transition: all 0.3s ease-in-out;
  margin: 0 10px;
}

.exit-details i:hover {
  cursor: pointer;
  color: #39b6ff;
}

.exit-details {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 10px 20px;
}

.edit-modal {
  position: absolute;
}

.project-details {
  padding: 20px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .project-details-content {
    width: 100%;
  }

  .project-details {
    flex-direction: column;
    align-items: center;
  }

  .project-details-text {
    width: 100%;
  }

  .project-details-right {
    width: 100%;
  }

  .project-header h3 {
    font-size: 30px;
  }

  .exit-details {
    top: 10px;
  }

  .option-switch {
    font-size: 18px;
  }
}
