.project-single-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid #66c7d470;
  color: #fff;
}

.select-project {
  background: transparent;
  border: none;
  color: #fff !important;
  width: 150px;
  text-align: left;
  padding: 0;
}

button.select-project {
  cursor: pointer;
  color: #7882a2;
}

.project-single-row i {
  font-size: 20px;
  color: #66c8d4;
  transition: all 0.3s ease-in-out;
}
.project-single-row i:hover {
  font-size: 20px;
  cursor: pointer;
  color: #ce4ad8;
}

span {
  width: 150px;
}

.project-status-home {
  width: 100px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .public-private {
    display: none !important;
  }
  span {
    width: 100px;
  }

  .select-project {
    width: 130px;
  }
}
